.iframe {
  -moz-transform: scale(0.25, 0.25); 
  -webkit-transform: scale(0.25, 0.25); 
  -o-transform: scale(0.25, 0.25);
  -ms-transform: scale(0.25, 0.25);
  transform: scale(0.25, 0.25); 
  -moz-transform-origin: top left;
  -webkit-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
    overflow: hidden;
}

.img-responsive {
    border-width: 10px;
    border-style: solid;
}
    
div {
	border-radius: 5px;
}

#header {
	z-index: 1;
	position: fixed;
	width: 97.5%;
	margin-top: -20px;
	height: 60px;
	background-color: #668284;
	margin-bottom: 10px;
}

#name {
	float:left;
	margin-left: 5px;
	padding-top: 5px;
	font-family: "calibri", sans-serif;
	text-shadow: 0px 0px .2px #a8a8a8;
	font-size: 1em;
	color: #ffffff;
}

#email{
	float:right;
	margin-right: 5px;
	padding-top: 5px;
	font-family: "calibri", sans-serif;
	text-shadow: 0px 0px .2px #a8a8a8;
	font-size: 1em;
	color: #ffffff;
}

h4 {
	font-family: "calibri", sans-serif;
	font-size: .9em;
	margin-left: 5px;
	margin-bottom: -15px;
	font-family: "calibri", sans-serif;
	font-size: 1em;
	text-shadow: 0px 0px .2px #000;
	
}

.right p {
	margin-left: 5px;
	margin-right: 5px;
	font-family: "calibri", sans-serif;
	font-size: 1em;
	color: #000000;
	text-shadow: 0px 0px .2px #000;
}

li {
	list-style-type: square;
	text-shadow: 0px 0px .2px #000;
	margin-top: 1px;
}

a:hover {
	font-weight: bold;
	color: #a0a0a0;
}

a {
	color: #000000;
	text-decoration: none;
}

ul {
	margin-bottom: 5px;
}


.right {
	font-family: "calibri", sans-serif;
	font-size: 1em;
	text-shadow: 0px 0px .2px #a8a8a8;
	position: relative;
	float: right;
	margin-top: 50px;
	width: 88%;
	height: 100%;
	background-color: #F4EBC3;
	margin-bottom: 10px;
	text-shadow: 0px 0px .2px #000;
}
.left {
	position: relative;
	float: left;
	margin-top: 50px;
	width: 10%;
	height: 1400px;
	background-color: #B9D7D9;
	margin-bottom: 10px;
}

#footer {
	position: relative;
	height: 50px;
	background-color: #668284;
	clear: both;
		font-family: "calibri", sans-serif;
	text-shadow: 0px 0px .5px #a8a8a8;
	font-size: .9em;
	text-align: center;
	color: #ffffff;
}

#footer p {
	position: relative;
	padding-top: 15px;
}